@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #4790fd;
  --color-secondary: #2b6cb0;
  --color-tertiaty: #99a0a3;
}

a {
  @apply transition-colors duration-200;
}

a:hover {
  @apply text-primary;
}

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}
