@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #4790fd;
  --color-secondary: #2b6cb0;
  --color-tertiaty: #99a0a3;
}

a {
  @apply transition-colors duration-200;
}

a:hover {
  @apply text-primary;
}

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

/* React Quill Fixes */
.ql-toolbar svg {
  width: 20px !important;
  height: 20px !important;
  display: inline-block;
}
.ql-container {
  font-size: 16px;
}
